<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a href="#" class="navbar-brand">Trainings</a>
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a class="nav-link" routerLink="/trainings">Formations</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/cart">Contenu du panier</a>
      </li>
      <li *ngIf="this.authService.isAdmin()" class="navbar-item">
        <a href="#" class="nav-link" routerLink="/admin">Administration</a>
      </li>
      <li class="navbar-item">
        <div *ngIf="isUserLoggedIn else isLogOut">
          <a href="#" class="nav-link" routerLink="/logout">Déconnexion</a>
        </div>
        <ng-template #isLogOut>
          <a class="nav-link" routerLink="/login">Connexion</a>
        </ng-template>
      </li>
    </ul>
</nav>
